

.hamburger{
  cursor: pointer;
  width: 40px;
  position: absolute;
  left: 50px;
  top: 20px;
}

.hamburger hr{
  height: 2px;
  background-color: black;
}

.dropdown li{
  cursor: pointer;
  list-style: none;
  z-index: 1;
}

.dropdown hr{
  width: 200px;
}

.dropdown{
  position: absolute;
  text-align: center;
}

.dropdown {animation: fadeIn 1s;}

@keyframes fadeIn {
  0% {opacity: 0;}
  100%{opacity: 1;}
}